<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Проекты</title>

    <link href="../../static/css/modules/reset.css" rel="stylesheet">
    <link href="../../static/css/modules/fonts.css" rel="stylesheet">
    <link href="../../static/css/modules/header.css" rel="stylesheet">
    <link href="../../static/css/project_list.css" rel="stylesheet">
    <link href="../../static/css/modules/footer_1.css" rel="stylesheet">

    <link href="../../static/css/animations/showup-animation.css" rel="stylesheet">
    <script src="../../static/js/animations/animation-show-up.js"></script>

    <link href="../../static/css/modules/custom-cursor.css" rel="stylesheet">
    <script src="../../static/js/custom-cursor.js"></script>
</head>
<body>

{{> header }}

<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>

<main class="main">
    <div class="post-01">
        <div class="container">
            <div class="little-description">
                <div class="little-description_decoration-blur"></div>
                <h2>01</h2>
                <p>Реализованные проекты</p>
            </div>
        </div>
        <div class="projects-wrapper">
            <div class="container prj-container">
                <!--                {% for project in completed_projects %}-->
                <!--                <div class="project prj-element-of-array">-->
                <!--                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="{{project_preview_pic_url}}"></a>-->
                <!--                </div>-->
                <!--                {% endfor %}-->

                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a>
                </div>
                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a>
                </div>
                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a>
                </div>
                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a>
                </div>
                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a>
                </div>
                <div class="project prj-element-of-array">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a>
                </div>

            </div>
        </div>
        <div class="after-prjcts">
            <div class="after-prjcts_decoration-blur-purple"></div>
            <button id="load-more">Развернуть</button>
        </div>
    </div>
    <div class="post-02 animation-section">
        <div class="container">
            <div class="little-description">
                <h2>02</h2>
                <p>Конкурсные работы</p>
            </div>
        </div>
        <div class="container prj-container">
            <!-- {% for project in contest_projects %}
            <div class="project project_no-shadow"><a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="{{ project_preview_pic_url }}"></a></div>
            {% endfor %}-->

            <div class="project project_no-shadow animation-section__block"><a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a></div>
            <div class="project project_no-shadow animation-section__block"><a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a></div>
            <div class="project project_no-shadow animation-section__block"><a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a></div>
            <div class="project project_no-shadow animation-section__block"><a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img alt="Photo" src="../../media/imgs/plug.png"></a></div>
        </div>
    </div>
    <div class="post-03 animation-section">
        <div class="container">
            <div class="little-description">
                <h2>03</h2>
                <p>Проекты в разработке</p>
            </div>
        </div>
        <div class="container prj-container">
            <!--          {% for project in in_development %}-->
            <!--            <div class="prj-inDev project" data-url="http://127.0.0.1:8000/project/{{ project_id }}/">-->
            <!--                <div class="description-inDev-prj">-->
            <!--                    <h3>{{project_title}}</h3>-->
            <!--                    <p>{{ project_description}}</p>-->
            <!--                </div>-->
            <!--                <div class="logo-inDev-prj">-->
            <!--                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img src="{{ project_preview_pic_url }}" alt="image"></a>-->
            <!--                </div>-->
            <!--            </div>-->
            <!--            {% endfor %}-->

            <div class="prj-inDev project animation-section__block" data-url="http://127.0.0.1:8000/project/{{ project_id }}/">
                <div class="description-inDev-prj">
                    <h3>{{project_title}}</h3>
                    <p>{{ project_description}}</p>
                </div>
                <div class="logo-inDev-prj">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img src="../../media/imgs/directory.png" alt="image"></a>
                </div>
            </div>
            <div class="prj-inDev project animation-section__block" data-url="http://127.0.0.1:8000/project/{{ project_id }}/">
                <div class="description-inDev-prj">
                    <h3>{{project_title}}</h3>
                    <p>{{ project_description}}</p>
                </div>
                <div class="logo-inDev-prj animation-section__block">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img src="../../media/imgs/directory.png  " alt="image"></a>
                </div>
            </div>
            <div class="prj-inDev project animation-section__block" data-url="http://127.0.0.1:8000/project/{{ project_id }}/">
                <div class="description-inDev-prj">
                    <h3>{{project_title}}</h3>
                    <p>{{ project_description}}</p>
                </div>
                <div class="logo-inDev-prj">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img src="../../media/imgs/directory.png  " alt="image"></a>
                </div>
            </div>
            <div class="prj-inDev project animation-section__block" data-url="http://127.0.0.1:8000/project/{{ project_id }}/">
                <div class="description-inDev-prj">
                    <h3>{{project_title}}</h3>
                    <p>{{ project_description }}</p>
                </div>
                <div class="logo-inDev-prj">
                    <a href="http://127.0.0.1:8000/project/{{ project_id }}/"><img src="../../media/imgs/directory.png  " alt="image"></a>
                </div>
            </div>
        </div>
    </div>
</main>

{{> footer_1 }}

<script src="../../static/js/project_list.js"></script>
</body>
</html>

<!--
    font-family: 'Asap', sans-serif;

    font-family: 'Exo 2', sans-serif;

    font-family: 'Inter', sa ns-serif;

    font-family: 'Karla', sans-serif;

    font-family: 'Roboto', sans-serif;
 -->