<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"  content="width=device-width, minimum-scale=.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Команада</title>

    <link href="../../static/css/about-team.css" rel="stylesheet">

    <link href="../../static/css/modules/custom-cursor.css" rel="stylesheet">
    <script src="../../static/js/custom-cursor.js"></script>
</head>
<body>

{{> header}}

<main>
    <div class="team container">
        <div class="team__header">
            <h2>О Команде</h2>
            <p>Центр IT-притяжения аккумулирует вокруг себя множество талантливых специалистов из разных сфер, многие из них являются бывшими учениками</p>
        </div>
        <div class="team__list">
            {% for user in users %}
            <div class="person-card mouse-enter">
                <div class="person-card__image">
                    <a href="http://127.0.0.1:8000/profile/{{ user_user_username }}/"><img src="{{user_avatar_url}}" alt="image"></a>
                </div>
                <div class="person-card__info">
                    <h3>{{ user_user_first_name}} {{ user_user_last_name }}</h3>
                    <p> {% for skill in user.skills.all %}{{ skill_name }} {% endfor %}</p>
                </div>
                <div class="person-card__link">
                    <a href="{{ user_tg_link }}"><img src="../../media/icons/telegram-rectangle-icon.svg" alt="image"></a>
                    <a href="{{ user_vk_link }}"><img src="../../media/icons/vk-%20rectangle-icon.svg" alt="image"></a>
                    <a href="{{ user_whatsapp}}"><img src="../../media/icons/whatsapp-rectangle-icon.svg" alt="image"></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

{{> footer_1}}

<div class="cursor-dot-outline"></div>
<div class="cursor-dot"></div>


<script src="../../static/js/about_team.js"></script>
</body>
</html>